@media (max-width: 35em) {

/* Göm kalender vid mobil */

    .calender-section {
        display: none;
    }

    aside {
        width: 100%;
    }

    .aside-header {
        text-align: center;
    }

}

@media (max-width: 680px) {
    .weekday span {
        font-size: .775rem;
    }
}