@media (max-width: 35em) {

/* ================== HIDES CALENDAR ON MOBILE/SMALL DEVICES ================= */

    .calender-section {
        display: none;
    }

    aside {
        width: 100%;
    }

    .aside-header {
        text-align: center;
    }

}

/* ================== ALTERS THE FONT-SIZE OF THE WEEKDAYS ================= */


@media (max-width: 680px) {
    .weekday span {
        font-size: .775rem;
    }
}