:root {
    --clr-bg: rgb(255, 57, 57);
    --clr-aside: rgb(238, 238, 238);
    --clr-calendar: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: var(--clr-bg);
}

/* Återanvändbara klasser ===================================== */

.width {
    width: 100%;
}

.height {
    height: 100%;
}

/* Flex inställningar =========================================== */

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

/* Grid inställningar ==========================================*/

.grid {
    display: grid;
}

.grid-calender {
    grid-template-columns: repeat(7, 1fr);
}

/* Andra standarder ==============================================*/

h1 {
    text-align: center;
    padding: 1.5rem 0;
    margin: 0;
    color: white;
}

/* Header */

/* Main =========================================================== */

main {
    margin-bottom: .5rem;
}

/* Sidebar med todos =========================================================*/

aside {
    width: 20rem;
    margin: 0 .5rem;
    padding: 0.5rem .5rem;
    background-color: var(--clr-aside);
    color: black;
    border-radius: 8px;
}

aside h4 {
    margin-top: 1rem;
}

#weekday {
    font-size: 2.25rem;
}

#date {
    font-size: 1.1rem;
    font-weight: 600;
}

.idag-text {
    color: var(--clr-bg);
    font-weight: 600;
}

/* Containern för en todo ================================= */

.todo-item {
    display: flex;
    flex-direction: row;   

    border: .5px lightgrey solid;
}

/* Todo text containern */
.item-text {
    flex: 5;
}

/* Todo btn containern */
.delete-btn {
    flex: 1;
}

.todo-btn {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    padding: .25rem .5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
    text-align: center;
}

.todo-btn:hover {
    background-color: var(--clr-bg);
    color: white;
    border: var(--clr-bg) 2px solid;
}

#todoInput {
    margin-top: 1rem;
    padding: .5rem;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

#todoDate {
    margin-top: .25rem;
    border: 2px solid black;
    padding: .4rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.choose-date-text {
    margin-top: 0.5rem;
    font-size: .9rem;
}

.item-text {
    padding: .2rem .2rem;
}

.todo-item {
    border: none;
    margin-bottom: .5rem;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.delete-btn {
    border: none;
    background-color: var(--clr-bg);
    cursor: pointer;
    transition: all 300ms ease-in-out 0s;
}

.delete-btn:hover {
    background-color: black;
}

.fa-times-circle {
    color: var(--clr-calendar);
}


/* Kalender =========================================== */

.calender-section {
    border-radius: 8px;   
    
    overflow: hidden;
    margin-right: .5rem;
}

.calender-item {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 8rem;

    border: 1px rgb(230, 230, 230) solid;
    padding: .5rem;
    background-color: var(--clr-calendar);
    color: black;
}

.calender-item span {
    padding: 0.25rem 0.75rem;
    border-radius: 100rem;
    color: black;
    float: right;
    font-weight: 700;
    font-size: 1.2rem;
}

.calender-item > p {
    position: absolute;
}

.calender-item .null {
    color: rgb(175, 175, 175);
}

.weekday {
    font-weight: 400;
    background-color: var(--clr-calendar);
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}

.alert-message {
    font-size: .9rem;
    color: var(--clr-bg);
    margin-top: .25rem;
}

.red-border {
    border: 2px solid var(--clr-bg);
}